*{
    font-family: Montserrat,sans-serif;
}

h2::first-letter{
    font-size: 130%;
}

h2 + p {
text-indent: 2em;
}

a::before{
    content: "\2192";
}

li:first-child{
    background-color: rgb(255, 192, 203);
}

li:last-child{
    background-color: rgb(128, 128, 128);
 }

 ul li:nth-child(odd){
    border: 1px solid rgb(255, 255, 0);
 }

 abbr::after{
    content: "(" attr(title) ")";
 }

 abbr:hover{
    text-decoration: underline;
 }